footer {
    background-color: $fondo-footer;

    p{
        margin: 0;
        color: rgb(100, 100, 100)
    }

    .container{
        height: 3vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}

