header{
    position: fixed;
    width: 100%;
    background-color: rgb(245, 245, 245);
    font-family: 'Lora', serif;
}

header .logo{
    margin: 0;
    padding: 35px 40px;
    font-weight: bold;
    color: orangered;
    font-size: 1.7em;
}

header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: orangered;
}

@media only screen and (min-width: $mediaCelular) {
    
    header .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 25px;
    }

}