$color-principal: orangered;
$fondo-claro: rgb(245, 245, 245);;
$fondo-oscuro: rgb(30, 30, 30);
$negro: black;
$blanco: white;
$fuente-body: Verdana, Geneva, Tahoma, sans-serif;




$mediaCelular: 720px;