$color-principal: orangered;
$fondo-claro: rgb(245, 245, 245);;
$fondo-oscuro: rgb(30, 30, 30);
$negro: black;
$blanco: white;
$fuente-body: Verdana, Geneva, Tahoma, sans-serif;
$fuente-hero: 'Lora', serif;
$fondo-footer: rgb(230, 230, 230);


$img-trabajo1: url("recursos/trabajos/limpiezaynivelacion.png");
$img-trabajo2: url("recursos/trabajos/bacheo.jpg");


$mediaCelular: 720px;