#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
    )
    ,url("recursos/movimientotierra.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: orangered;
    font-family: 'Lora', serif;
}

#hero h2{
    font-family: 'Lora', serif;
}

#button-row{
    display: flex;
    flex-direction: row;
}