
#somos{

    padding: 125px 12px;
    background-color: $fondo-oscuro;
    color: $blanco;
    text-align: center;

    .container{
        padding: 100px 0px;
        display: flex;
        justify-content: space-evenly;
    }

    h3{
        margin-top: 0;
    }

    .descripcion{
        @include descripcion;
    }

    .img-container{
        @include img-cont($img-logo);
    }

    .img-container:hover{
        opacity: 1;
    }
}

#lemas{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
    color: $negro;
    background-color: $fondo-claro;

    ul { 
        list-style-type: disc;
        font-size: 3em;
    }

    ul:hover{
        color: $color-principal;
    }
}


@include celular(){
    #somos .img-container{
        display: none;
    }

    #somos .container{
        margin-top: 30%;
    }

    #somos .descripcion{
     
        text-align: center;
        padding-left: 0px;

    }

    #lemas ul { 
        font-size: 2em;
    }
}

