
#trabajo{
    @include rectangulo($fondo-claro, $negro);
}

#trabajo .container{
    @include rect-cont;
}

#trabajo1{
    @include rectangulo($fondo-oscuro, $blanco);
}

#trabajo1 .container{
    @include rect-cont;
}

#trabajo1 .descripcion{
    @include trabajo-descr;
}

#trabajo1 .img-container{
    @include trabajo-img($img-trabajo1);
}

#trabajo1 .img-container:hover{
    opacity: 1;
}

#trabajo2{
    @include rectangulo($fondo-claro, $negro);
}

#trabajo2 .container{
    @include rect-cont;
}

#trabajo2 .descripcion{
    @include trabajo-descr;
}

#trabajo2 .img-container{
    @include trabajo-img($img-trabajo2);
}

#trabajo2 .img-container:hover{
    opacity: 1;
    }


    @include celular(){
        #trabajo .container{
            margin-top: 30%;
        }
    
        #trabajo .descripcion{
         
            text-align: center;
            padding-left: 0px;
    
        }
    
    
        #trabajo1 .descripcion{
            width: 70%;
            max-width: 500px;
        }
        
        #trabajo1 .img-container{
            height: 550px;
            width: 500px;
        }
    
        #trabajo2 .descripcion{
            width: 70%;
            max-width: 500px;
    
        }
        
        #trabajo2 .img-container{
            height: 550px;
            width: 500px;
        }
    }

