
#trabajo{
    @include rectangulo($fondo-claro, $negro);

    .container{
        @include rect-cont;
    }
}

#trabajo1{
    @include rectangulo($fondo-oscuro, $blanco);

    .container{
        @include rect-cont;
    }

    .descripcion{
        @include descripcion;
    }

    .img-container{
        @include img-cont($img-trabajo1);
    }

    .img-container:hover{
        opacity: 1;
    }
}


#trabajo2{
    @include rectangulo($fondo-claro, $negro);

    .container{
        @include rect-cont;
    }

    .descripcion{
        @include descripcion;
    }

    .img-container{
        @include img-cont($img-trabajo2);
    }

    .img-container:hover{
        opacity: 1;
        }
}



@include celular(){
        #trabajo .container{
            margin-top: 30%;
        }
    
        #trabajo .descripcion{
         
            text-align: center;
            padding-left: 0px;
    
        }
    
    
        #trabajo1 .descripcion{
            width: 70%;
            max-width: 500px;
        }
        
        #trabajo1 .img-container{
            height: 550px;
            width: 500px;
        }
    
        #trabajo2 .descripcion{
            width: 70%;
            max-width: 500px;
    
        }
        
        #trabajo2 .img-container{
            height: 550px;
            width: 500px;
        }
 }

